.cowiim{
    padding-top: var(--gap-lg);
    padding-bottom: var(--gap-lg);
    display: flex;
    gap: var(--gap-md);
    justify-content: space-between;
}

.cowiim__content{
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.cowiim img{
    border-radius: var(--border-radius-md);
}