nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-lg);
    padding: var(--padding-xs) 0;
}

nav img{
    max-width: 4rem;
}

@media(max-width: 425px){
    nav{
        gap: var(--gap-sm);
    }
}