.btn{
    background-color: var(--italy-green);
    color: var(--primary-text-color);
    padding: var(--padding-xxs) var(--padding-sm);
    border-radius: var(--border-radius-sm);
    position: relative;
    overflow: hidden;
    z-index: 2;
    border: unset;
    width: fit-content;
}

.btn__primary{
    background-color: var(--italy-green);
    color: var(--secondary-text-color);
    transition: .2s;
}

.btn__primary:hover{
    color: var(--primary-text-color);
}

.btn__primary::after{
    transition: .2s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: var(--italy-white);
    top: 0;
    left: 110%;
    z-index: -2;
    transform: rotate(20deg);
}

.btn__primary:hover::after{
    left: 33%;
}

.btn__primary::before{
    transition: .2s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: var(--italy-red);
    top: 0;
    left: 110%;
    z-index: -1;
    transform: rotate(20deg);
}

.btn__primary:hover::before{
    left: 66%;
}

.btn__secondary{
    background-color: var(--italy-white);
    color: var(--primary-text-color)
}

.btn__secondary::after{
    transition: .2s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: var(--italy-red);
    top: 0;
    left: 110%;
    z-index: -2;
    transform: rotate(20deg);
}

.btn__secondary:hover::after{
    left: 66%;
}

.btn__secondary::before{
    transition: .2s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: var(--italy-green);
    bottom: 20%;
    right: 110%;
    z-index: -1;
    transform: rotate(20deg);
}

.btn__secondary:hover::before{
    right: 66%;
}

.btn__tetriary{
    background-color: var(--italy-red);
    color: var(--secondary-text-color);
    transition: .2s;
}

.btn__tetriary:hover{
    color: var(--primary-text-color)
}

.btn__tetriary::after{
    transition: .2s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: var(--italy-white);
    bottom: 0;
    right: 110%;
    z-index: -2;
    transform: rotate(20deg);
}

.btn__tetriary:hover::after{
    right: 33%;
}

.btn__tetriary::before{
    transition: .2s ease-in-out;
    content: "";
    position: absolute;
    width: 100%;
    height: 200%;
    background-color: var(--italy-green);
    bottom: 0;
    right: 110%;
    z-index: -1;
    transform: rotate(20deg);
}

.btn__tetriary:hover::before{
    right: 66%;
}