/* checkbox field */

input[type="checkbox"] {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Style the label */
input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 16px;
    pointer-events: none;
}

/* The box before the label */
input[type="checkbox"] + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    box-sizing: border-box;
    transition: background 0.3s;
}

/* Checkmark style */
input[type="checkbox"]:checked + label::before {
    background-color: var(--italy-white);
    box-shadow: inset 6px 0 0 0 var(--italy-green), inset -6px 0 0 0 var(--italy-red);
}

/* number field */

input[type="number"], input[type="text"], div[type="richtext"] {
    width: 100%;
    border-radius: var(--border-radius-sm);
    border: unset;
    background-color: var(--secondary-bg-color);
    outline: unset;
    padding-left: var(--padding-xs);
}

div[type="richtext"]{
    min-height: 100px;
}