:root{
    --italy-green: #008C45;
    --italy-white: #F4F5F0;
    --italy-red: #CD212A;

    --primary-color: #008C45;
    --secondary-color: #F4F5F0;
    --tetriary-color: #CD212A;

    --primary-bg-color: #F5E3C3;
    --secondary-bg-color: #D9B88E;
    --tetriary-bg-color: #D64321;

    --header-color: #3B2F2F;
    --primary-text-color: #000;
    --secondary-text-color: #F4F5F0;
    --tetriary-text-color: ;

    --gap-xs: .5rem;
    --gap-sm: 1rem;
    --gap-md: 2rem;
    --gap-lg: 3rem;
    --gap-xl: 4rem;

    --padding-xxs: .25rem;
    --padding-xs: .5rem;
    --padding-sm: 1rem;
    --padding-md: 2rem;
    --padding-lg: 3rem;
    --padding-xl: 4rem;
    --padding-xxl: 6rem;

    --border-radius-sm: .5rem;
    --border-radius-md: 1rem;
    --border-radius-lg: 1.5rem;
    --border-radius-xl: 2rem;
}