.cowiim{
    padding-top: var(--gap-lg);
    padding-bottom: var(--gap-lg);
    display: flex;
    gap: var(--gap-lg);
    justify-content: space-between;
}

.cowiim h2{
    margin-top: var(--padding-lg);
}

.cowiim.inverted{
    flex-direction: row-reverse;
}

.cowiim__content{
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
    max-width: 500px;
}

.cowiim img{
    border-radius: var(--border-radius-md);
    height: auto;
    flex-shrink: 1;
    max-width: 600px;
    width: 50%;
    object-fit: cover;
}

@media(max-width: 768px){
    .cowiim h2{
        margin-top: unset;
    }

    .cowiim.inverted,
    .cowiim{
        flex-direction: column;
        align-items: center;
    }

    .cowiim img{
        width: 100%;
    }
}